:root {
    /*light greenish yellow*/
    --backgroundcolor1: rgb(131, 156, 83);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url(../images/food_truck.jpg); 
    background-size: cover;
    background-position: center;
}

/* header in html contents */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--backgroundcolor1);
}

h1 {
    font-size: 250%;
    display: flex;
    flex: 0 0 300px;
    justify-content: center;
}

/* Anthony Ditore header (within header and footer section of html) */
.specialheader1 {
    color: darkslategrey;
    
}

.specialheader1:hover {
    font-size: 400%;
    justify-content: left;
    flex: 0 0 500px;
    transition: 0.5s;
}

/* all lists on website included here (header, main and footer)*/

li {
    font-size: 150%;
    display: inline-flex;
    justify-content: center;
    margin: 5px; 
    padding-inline-start: 1px;
    padding-inline-end: 40px;;
}

/* links for header and footer */

a {
    color: darkslategrey;
}

a:hover {
    color: darkturquoise;
}

/* main in html contents */

main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

h2 {
    padding: 0.5rem 1rem;
    background-color: var(--backgroundcolor1);
    border: 2px solid darkslategrey;
    border-radius: 8px;
    color: darkslategrey;
    font-size: 24px;
    width: fit-content;
}

p {
    width: fit-content;
    line-height: 1.5;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

/* side bar contact menu*/

aside {
    background-color: #b9c6ae;
    color: darkslategrey;
    height: auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

/*contact me form*/

form p {
    margin: 0;
  }
  
label {
    display: block;
  }
  
button {
    padding: 10px;
    color: darkslategrey;
    background-color: var(--backgroundcolor1);
    border: none;
    outline: none;
    cursor: pointer;
  }

.entertext {
    width: 100%;
    max-width: 100%;
  }
  
.entertext, select {
    padding: 1%;
    outline: none;
    border: 1.2px solid #b9C6ae;
  }

.entertext:hover, .checkbox:hover, 
  select:hover, button:hover {
    box-shadow: 0 0 5px darkslategrey;
  }

/* section within main html */

section {
    display: flex;
    flex-direction: column;
    width: 65vw;
    margin: auto;
    justify-content: flex-start;
    min-height: 100%;
    padding-bottom: 10px;
    color: darkslategrey;
    
}

.section-headers {
    width: fit-content;
}

.section-headers:hover {
    font-size: 300%;
    transition: 0.5s;
}

h3  {
    position: relative;
    left: 30px;
    margin: -20px;
    width: fit-content;
    border-style: solid;
    border-radius: 8px;
    border-color: darkslategrey;
    padding: 10px;
    background-color: #b9c6ae;
}

h3:hover {
    font-size: 250%;
    transition: 0.5s;
}

/* list for "My Work" */

.worklist {
    flex-direction: column;
    padding: 20px;
}


/*section articles*/

article {
    border-style: solid;
    border-color: darkslategrey;
    border-radius: 8px;
    background-color: #b9c6ae;
    max-width: fit-content;
}

/* footer */

footer {
    position: static;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--backgroundcolor1);
}

.footerinline {
    padding-left: 20px;
}

/*images*/

.listpictures {
    display: inline-block;
    padding: 20px;
    width: 250px;
    height: auto;
    transition: 0.5s;
}

.listpictures:hover {
    transform: scale(2.0);
}

/*twin and I*/
#twins { 
    border-radius: 50%;
    width: 75%;
}

#twins:hover {
    box-shadow: 0 0 5px 5px darkslategrey;
}

/*media querey*/

@media screen and (max-width: 1440px) {
    li {
        display: block;
        font-size: smaller;
    }

    section {
        padding-right: 0;
    }
  
    aside {
        padding: 20px;
        min-width: 100%;
        border-style: solid;
        border-color: darkslategrey;
    }
    
    form {
        display: flex;
        flex-direction: row;
        padding: 60px;
    }

    #twins {
        flex-basis: content;
        transform: scale(0.75);
    }
}

@media screen and (max-width: 768px) {
    header, main {
        flex-direction: row;
    }
    
    li {
        display: block;
        font-size: smaller;
    }
    section {
        padding-right: 0;
    }
  
    aside {
        padding: 60px;
        min-width: 85%;
        border-style: solid;
        border-color: darkslategrey;
    }

    form {
        width: fit-content;
    }

    #twins {
        flex-basis: content;
    }

    #twins:hover {
        box-shadow: none;
    }

  }