:root {
    /*light greenish yellow*/
    --backgroundcolor1: rgb(131, 156, 83);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url(../images/food_truck.jpg); 
    background-size: cover;
    background-position: center;
}

/* header in html contents */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--backgroundcolor1);
    max-height: 80px;
}

h1 {
    font-size: 250%;
    display: flex;
    flex: 0 0 300px;
    justify-content: center;
}

.mediaHeader {
    display: none;
}

/* Anthony Ditore header (within header and footer section of html) */
.specialheader1 {
    color: darkslategrey;
    
}

.specialheader2 {
    color: darkslategrey;
}

.specialheader1:hover {
    transform: scale(1.5);
    justify-content: right;
    flex: 0 0 500px;
    transition: 0.5s;

    background-color: darkslategrey;
    color: #b9C6ae;
    border-radius: 10px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.5s;

}

.list-group-item-action:hover {
    margin: auto;
}

.inlineUl2 {
    display: none;
}

.navHover:hover {
    background-color: var(--backgroundcolor1);
    color: #b9C6ae;
    border-radius: 10px;
    
    transition: 0.5s;
}

/* all lists on website included here (header, main and footer)*/

ul {
    max-height: 500px;
}
li {
    font-size: 150%;
    display: inline-flex;
    justify-content: center;
    margin: 5px; 
    padding-inline-start: 1px;
    padding-inline-end: 40px;;
}

.list-group-item {
    background-color: #b9C6ae;
    border: none;
}

/* links for header and footer */

a {
    color: darkslategrey;
}

a:hover {
    color: darkturquoise;
}

/* main in html contents */

main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

h2 {
    padding: 0.5rem 1rem;
    background-color: var(--backgroundcolor1);
    border: 2px solid darkslategrey;
    border-radius: 8px;
    color: darkslategrey;
    font-size: 24px;
    width: fit-content;
}

.myWorkHeader2 {
    background-color: darkslategrey;
    color: #b9C6ae;
}

p {
    width: fit-content;
    line-height: 1.5;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

/* side bar contact menu*/

aside {
    background-color: #b9c6ae;
    color: darkslategrey;
    height: auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.resume {
    display: flex;
    flex-direction: row;
}

.resumeBtn {
    margin-left: 10px;
    margin-right: 10px;
}

/*contact me form*/

#contactMeHeader {
    margin-top: 10px;
}

form p {
    margin: 0;
  }
  
label {
    display: block;
  }
  
button {
    padding: 10px;
    color: darkslategrey;
    background-color: var(--backgroundcolor1);
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
  }

.entertext {
    width: 100%;
    max-width: 100%;
  }
  
.entertext, select {
    padding: 1%;
    outline: none;
    border: 1.2px solid #b9C6ae;
  }

.entertext:hover, .checkbox:hover, 
  select:hover, button:hover {
    box-shadow: 0 0 5px darkslategrey;
  }

/* section within main html */

section {
    display: flex;
    flex-direction: column;
    width: 65vw;
    margin: auto;
    justify-content: flex-start;
    min-height: 100%;
    padding-bottom: 10px;
    color: darkslategrey;
    
}

.section-headers {
    width: auto;
}

.section-headers:hover {
    display: flex;
    

    width: auto;
    align-items: right;

    background-color: darkslategrey;
    color: #b9C6ae;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 2s;
}

h3  {
    color: var(--backgroundcolor1);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    width: fit-content;
    border-style: solid;
    border-radius: 8px;
    padding: 10px;
    background-color: darkslategrey;
}

h3:hover {
    transform: scale(1.5);
    transition: 0.5s;

    background-color: darkslategrey;
    color: #b9C6ae;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.5s;
}

/* list for "My Work" */

.collab {
    font-size: 20px;
}

.worklist {
    flex-direction: column;
    padding: 20px;
}

.listFlex {
    display: flex;
    justify-content: space-between;
}

.myWorkListGroup {
    max-height: 500px;
}

.collab {
    width: fit-content;
}

/*section articles*/

article {
    height: 100px;
    border-style: solid;
    border-color: darkslategrey;
    border-radius: 8px;
    background-color: #b9c6ae;
    max-width: fit-content;
}

#resumeArticle {
    
    height: auto;
    border-color: #b9C6ae;
    border-top-color: darkslategrey;
    border-radius: 0%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
}
/* footer */

.specialA {
    color: darkslategrey;
}
footer {
    max-height: fit-content;
    position: static;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: var(--backgroundcolor1);
}

.footerinline {
    font-size: 60px;
    
    padding-left: 0px;
    display: flex;
    align-items: end;
    width: fit-content;
}

.footerinline:hover {
    text-decoration: none;
    color: #b9C6ae;
    border-radius: 10px;
    
    transition: 0.5s;
}

.footerUl {
    display: flex;
    font-size: x-small;
}

/*images*/

.listpictures {
    display: inline-block;
    padding: 20px;
    width: 250px;
    height: auto;
    transition: 0.5s;
}

.listpictures:hover {
    transform: scale(1.5);

    background-color: darkslategrey;
    color: #b9C6ae;
    border-radius: 10px;
    
    transition: 0.5s;
}

/*twin and I*/
#twins { 
    
    border-radius: 50%;
    width: 75%;
    box-shadow: 0 0 5px 5px darkslategrey;
}

#twins:hover {
    border-radius: 0;
    transform: scale(1.0);
    transition: 1s;
    
}

/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
    background-color: #b9C6ae;
    margin: auto;
    margin-top: 15%;
    padding: 20px;
    border: 2px solid darkslategrey;
    border-radius: 10px;
    width: 50%;
    font-size: 50px;
    align-content: center;
}
/*media querey*/

@media screen and (max-width: 1440px) {
    .col-7 {
        max-width: none;
    }

    .specialheader2 {
        display: none;
    }

    .navbarFoot {
        width: 100%;
        justify-content: flex-start;
        margin: 0;
    }
    .navbarHead {
        width: 100%;
        justify-content: flex-end;
        margin: 0;
    }
    li {
        display: block;
        
    }

    section {
        padding-right: 0;
    }
  
    aside {
        padding: 20px;
        min-width: 100%;
        border-style: solid;
        border-color: darkslategrey;
    }
    
    form {
        display: flex;
        flex-direction: row;
        padding: 60px;
    }

    #twins {
        flex-basis: content;
        transform: scale(0.75);
    }

    .listFlex {
        flex-direction: column;
        align-items: center;
        margin-bottom: auto;
        font-size: large;
    }

    .fitContentLi {
        max-width: fit-content;
    }

    .inlineUl {
        display: flex;
        flex-direction: row;
        margin: 0;
    }
    /*.footerinline {
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding: 0;
    }*/

    /*.footerinline:hover {
        margin: 0;
    }*/

    .footerUl {
        justify-content: center;
        align-items: center;
    }

    h3:hover {
        transform: scale(1);

        background-color: darkslategrey;
        color: #b9C6ae;
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
        transition: 0.5s;
    }

    .collab {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    header, main {
        flex-direction: row;
    }
    
    .col-7 {
        max-height: 500px;
    }

    ul {
        max-height: fit-content;
    }

    #contactMeHeader {
        margin: 5px;
    }
    .navbar {
        width: 100%;
    }

    li {
        display: block;
        
    }
    section {
        padding-right: 0;
    }
  
    aside {
        padding: 60px;
        min-width: 100%;
        border-radius: 0%;
        border-style: solid;
        border-color: darkslategrey;
    }

    form {
        width: fit-content;
        padding: 10px;
    }

    #twins {
        transform: scale(1);
        flex-basis: content;
        margin: 0;
    }

    #twins:hover {
        border-radius: 50%;
        box-shadow: none;
        transform: scale(1);
        transition: 1s;
    }

    .specialheader1 {
        display: none;
    }

    .specialheader2 {
        display: none;
    }

    .inlineUl {
        display: none;
    }

    .inlineUl2 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: revert;
    }

    .mediaHeader {
        display: contents;
        
        color: darkslategrey;
    }

    .collab {
        font-size: 20px;
        line-height: 20px;
    }
  }