
:root {
    /*light greenish yellow*/
    --backgroundcolor1: rgb(131, 156, 83);
}

body {
    margin: 0;
}

main {
    position: relative;
    height: 100%;
}

header {
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--backgroundcolor1);
    
}

h1 {
    font-size: 250%;
    
    display: flex;
    flex: 0 0 300px;
    justify-content: center;
    
}

h2 {
    
    padding: 0.5rem 1rem;
    background-color: var(--backgroundcolor1);
    border: 2px solid darkslategrey;
    border-radius: 8px;
    color: darkslategrey;
    
}

.section-headers:hover {
    font-size: 300%;
    transition: 0.5s;
}

h3  {
    position: relative;
    left: 30px;
    margin: -20px;
    width: fit-content;
    border-style: solid;
    border-radius: 8px;
    border-color: darkslategrey;
    padding: 10px;
    background-color: #b9c6ae;
}

h3:hover {
    font-size: 250%;
    transition: 0.5s;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: darkslategrey;
    
}

p {
    width: fit-content;
    line-height: 1.5;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

footer {
    position: static;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--backgroundcolor1);
    border-style: none;
}

.footerinline {
    padding-left: 20px;
}
/*contact me form*/

form {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    top: 3vw;
    left: 5.5vw;
  }
  
form p {
    margin: 0;
  }
  
label {
    display: block;
  }
  
button {
    padding: 10px;
    color: darkslategrey;
    background-color: var(--backgroundcolor1);
    border: none;
    outline: none;
    cursor: pointer;
  }

/*Anthony Ditore header*/
.specialheader1 {
    color: darkslategrey;
    
}

.specialheader1:hover {
    font-size: 400%;

    justify-content: left;
    flex: 0 0 500px;
    transition: 0.5s;
}

/*article headers*/

.section-headers {
    width: fit-content;
}

/*header links*/
li {
    font-size: 150%;
    display: inline-flex;

    justify-content: center;
    margin: 5px;
    
    padding-inline-start: 1px;
    padding-inline-end: 40px;;
}

a {
    color: darkslategrey;
}

a:hover {
    color: darkturquoise;
}

/* side bar contact menu*/


aside {
    background-color: #b9c6ae;
    
    color: darkslategrey;
    
    height: 85vh;
    width: 25vw;
    
    border-radius: 8px;
    
    
}

#contactmeheader {
    position: relative;
    top: 2.5vw;
    left: 7vw;
    display: inline-block;
    text-align: center;
}

.entertext {
    width: 100%;
    max-width: 100%;
  }
  
.entertext, select {
    padding: 1%;
    outline: none;
    border: 1.2px solid #b9C6ae;
  }

.entertext:hover, .checkbox:hover, 
  select:hover, button:hover {
    box-shadow: 0 0 5px darkslategrey;
  }

/*main*/

main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

/*main body articles*/

article {
    border-style: solid;
    border-color: darkslategrey;
    border-radius: 8px;
    background-color: #b9c6ae;
}
/*images*/

#horiseonimg {
    margin: 20px;
    padding: 20px;
    width: 400px;
    height: auto;
    transition: 0.5s;
}

#horiseonimg:hover {
    transform: scale(1.5);
}
/*food truck background*/
#backgroundimage {
    position: absolute;
    width: 101vw;
    height: 112vh;
    z-index: -2;
    opacity: 0.4;

}

/*twin and I*/
#twins {
    position: relative;
    border-radius: 50%;

    width: 75%;
    left: 2.5vw;
    top: 2.5vw;
}

#twins:hover {
    box-shadow: 0 0 5px 5px darkslategrey;
}

/*media querey*/
