:root {
    /*light greenish yellow*/
    --backgroundcolor1: rgb(131, 156, 83);
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--backgroundcolor1);
    border-style: none;
    color: black;
}

h1 {
    font-size: 250%;
    border-style: none;
    border-color: grey;
    display: flex;
    flex: 0 0 300px;
    justify-content: center;
    padding: 0px;
}

/*Anthony Ditore header*/
#specialheader1 {
    color: darkslategrey;
}

li {
    font-size: 150%;
    display: inline-flex;
    flex-direction: row;
    flex: 0 0 300px;
    justify-content: center;
    margin: 5px;
    padding: 8px;
    padding-inline-start: 1px;
    padding-inline-end: 40px;;
}

/*header links*/
a {
    color: darkslategrey;
    background-color: var(--backgroundcolor1);
}

a:hover {
    color: darkturquoise;
}